/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: #E88829;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background-color: #E88829;
    border-color: #E88829;
}
.btn-info {
    color: #fff;
    background-color: darkgreen;
    border-color: darkgreen;
}